<!DOCTYPE html>
<html>
<head th:replace="layouts :: header">
<title>Customer Invoice</title>
</head>
<body>
	<nav th:replace="layouts :: navbarCustomer"></nav>

	<div sec:authorize="!isAuthenticated()">
		You are not authenticated<br> <a href="/login">Login</a>
	</div>

	<div sec:authorize="isAuthenticated()">
	
		<div>
			<h2>Customer Invoice</h2>
			
			<div align="left">
				<img src="http://10.154.2.88/images/ShopFront.jpg" width="100" height="100"/>
			</div>
			<table>
				<tr>
					<td>&nbsp; 
					</td>
				</tr>
				<tr>
					<td><H5 th:text="${companyName}"></H5>
					</td>
				</tr>
				<tr>
					<td><h5 th:text="${branchName}"></h5>
					</td>
				</tr>
				<tr>
					<td>Phone : <span th:text="${branchPhone}"></span>
					</td>
				</tr>
			</table>
			<br>

			
			
			<br>
			<table class="table table-bordered table-striped">
				<tr>
					<td>Customer :</td>
					<td th:text="${customer}"></td>
				</tr>

				<tr>
					<td>Date :</td>
					<td th:text="${date}"></td>
				</tr>

				<tr>
					<td>Discount Voucher Code :</td>
					<td th:text="${discountVoucherCode}"></td>
				</tr>
			</table>

			<table class="table table-bordered table-striped">

				<thead class="thead-dark">
					<tr>
						<th>Date</th>
						<th>Product</th>
						<th>Requirement</th>
						<th>Quantity</th>
						<th></th>
						<th>Amount Each</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aCustomerOrder : ${customerOrderList}">
					
						<td th:text="${aCustomerOrder.dateCreated}"></td>
						<td th:text="${aCustomerOrder.productName}"></td>
						<td th:text="${aCustomerOrder.customerRequirements}"></td>
						<td th:text="${aCustomerOrder.quantity}"></td>
						<td align="right" th:text="R"></td>
						<td th:text="${aCustomerOrder.sellingPrice}"></td>

					</tr>
					

					
					<tr> 
						<td colspan="5" align="right">Total R</td><td align="left" th:text="${totalSellingPrice}"></td>
					</tr>
				</tbody>

			</table>
			
			<table>
				<tr>
					<td>&nbsp; 
					</td>
				</tr>
				<tr>
					<td>Please keep this invoice to get a discount on your next purchase
					</td>
				</tr>
				<tr>
					<td>&nbsp; 
					</td>
				</tr>
			</table>
			<div>
				<a th:href="@{/business-dashboard/customer-orders/printinvoice/(id=${customerId})}"
					class="btn-primary btn-sm mb-3" onClick="window.print()">Print Invoice</a>
			</div>
		</div>
		
	</div>
</body>