<!DOCTYPE html>
<html>
<head th:replace="layouts :: header">
  <title>Customer List</title>
</head>
<body>
	<nav th:replace="layouts :: navbarCustomer"></nav>
	

	
	<div sec:authorize="!isAuthenticated()">
		You are not authenticated<br>
		<a href="/login">Login</a>	
	</div>
	
	<div sec:authorize="isAuthenticated()">
	<div>
		<h4>Customer List</h4>
		<br>
		<div align="left">
			<img src="http://localhost:8080/images/Customers.jpeg" width="200" height="150"/>
		</div>
		<div sec:authorize="hasRole('ADMIN')">
			<a th:href="@{/business-dashboard/customers/new}" class="btn-primary btn-sm mb-3" >Add new Customer</a>
		</div>
		<br>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Customer Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>Cell Number</th>
					<th>Credits</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aCustomer : ${customerList}">
					<td th:text="${aCustomer.customerId}"></td>
					<td th:text="${aCustomer.name}"></td>
					<td th:text="${aCustomer.emailAddress}"></td>
					<td th:text="${aCustomer.cellPhone}"></td>
					<td th:text="${aCustomer.credits}"></td>
					
					<td>
					 <div sec:authorize="hasRole('ADMIN')">
					 	<a th:href="@{/business-dashboard/customers/verander/(id=${aCustomer.CustomerId})}" class="btn-info btn-sm" >Edit</a>&nbsp;&nbsp;
					 	<a th:href="@{/business-dashboard/customers/maakdood/(id=${aCustomer.CustomerId})}" class="btn-danger btn-sm"  
				  	 	onClick="if (!(confirm('Are you sure you want to delete this customer?'))) return false" >Delete</a>	
				  	 </div>	
				  	 <div>
				  	 	<a th:href="@{/business-dashboard/customer-orders/addorder(id=${aCustomer.CustomerId})}" class="btn-primary btn-sm mb-3" >Order</a>&nbsp;&nbsp;
				  	 	<a th:href="@{/business-dashboard/customer-orders/invoiceorder(id=${aCustomer.CustomerId})}" class="btn-info btn-sm" >Invoice</a>&nbsp;&nbsp;
				  	 	<a th:href="@{/business-dashboard/customer-orders/addgratuity(id=${aCustomer.CustomerId})}" class="btn-danger btn-sm" >Pay</a>&nbsp;&nbsp;
				  	 </div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>


</body>
</html>