<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Business Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarCustomerOrder"></nav>
	<div sec:authorize="hasAnyRole('MANAGER','TEAMMEMBER','ADMIN')">



		<br>
		<div class="container">

			<H3>Capture Customer Order</H3>
			<br>
			<br>
			<form th:action="@{/business-dashboard/customer-orders/save}" th:object="${customerOrderRequest}" method="POST">

				<!--  This will be used to bind to the task that was clicked on (USED FOR UPDATES)-->

				<input type="hidden" th:field="${customerOrderRequest.dateCreated}" />
				<input type="hidden" th:field="${customerOrderRequest.customerOrderId}" />				
		
				<b>Date created:</b>
				<div class="form-group row" th:text="${customerOrderRequest.dateCreated}"></div>
					
				
		<select id="employeeId" name="employeeId" th:field="${customerOrderRequest.employeeId}" >
			<option value="">Select Employee</option>				
			<option th:each="theEmployee : ${employeeList}" th:value="${theEmployee.employeeId}" th:text="${theEmployee.fullName}"></option>
		</select><br><br><br>
		
				
		<select id="customerId" name="customerId" th:field="${customerOrderRequest.customerId}" >
			<option value="">Select Customer</option>				
			<option th:each="theCustomer : ${customerList}" th:value="${theCustomer.customerId}" th:text="${theCustomer.name}"></option>
		</select><br><br><br>
		
		<!--		
				<div class="form-group row">
					<input type="text" placeholder="Customer Order Name"
						th:field="${customerOrderRequest.name}">
				</div>
		-->
				
				<div class="form-group row">
					<input type="text" placeholder="Quantity"
						th:field="${customerOrderRequest.quantity}">
				</div>
		
				
				<div class="form-group row">
					<input type="text" placeholder="Customer Requirements"
						th:field="${customerOrderRequest.customerRequirements}">
				</div>
		
		<select id="productId" name="productId" th:field="${customerOrderRequest.productId}" >
			<option value="">Select Product</option>				
			<option th:each="theProduct : ${productList}" th:value="${theProduct.productId}" th:text="${theProduct.name}"></option>
		</select><br><br><br>
	

				

				<div class="form-group row">
					<button class="btn btn-info col-2" type="submit">Save Customer Order</button>
				</div>

			</form>
		</div>
	</div>

</body>

</html>