<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Business Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarSupplierOrders"></nav>
	<div sec:authorize="hasAnyRole('MANAGER','TEAMMEMBER','ADMIN')">



		<br>
		<div class="container">

			<H3>Edit Supplier Order</H3>
			<br>
			<br>
			<form th:action="@{/business-dashboard/supplier-orders/update}" th:object="${supplierOrderRequest}" method="POST">

				<!--  This will be used to bind to the task that was clicked on (USED FOR UPDATES)-->

				<input type="hidden" th:field="${supplierOrderRequest.dateCreated}" />
				<input type="hidden" th:field="${supplierOrderRequest.supplierOrderId}" />
				
				<b>Supplier Order ID:</b>
				<div class="form-group row" th:text="${supplierOrderRequest.supplierOrderId}"></div>
				
				<b>Product:</b>
				<div class="form-group row" th:text="${supplierOrderRequest.productName}"></div>
								
				<b>Date created:</b>
				<div class="form-group row" th:text="${supplierOrderRequest.dateCreated}"></div>
				
				<div class="form-group row">
					<input type="text" placeholder="Supplier Order Reference"
						th:field="${supplierOrderRequest.name}">
				</div>
				
				
				<div class="form-group row">
					<input type="text" placeholder="Quantity"
						th:field="${supplierOrderRequest.quantity}">
				</div>
				
				<div class="form-group row">
					<input type="text" placeholder="Cost Price"
						th:field="${supplierOrderRequest.costPrice}">
				</div>


	
		<select id="productId" name="productId" th:field="${supplierOrderRequest.productId}" >
			<option value="">Select Product</option>				
			<option th:each="theProduct : ${productList}" th:value="${theProduct.productId}" th:text="${theProduct.name}"></option>
		</select><br><br><br>
				

				<div class="form-group row">
					<button class="btn btn-info col-2" type="submit">Save Supplier Order</button>
				</div>

			</form>
		</div>
	</div>

</body>

</html>