<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Business Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarSupplier"></nav>
	<div sec:authorize="hasAnyRole('MANAGER','TEAMMEMBER','ADMIN')">



		<br>
		<div class="container">

			<H3>Capture Supplier</H3>
			<br>
			<br>
			<form th:action="@{/business-dashboard/suppliers/save}" th:object="${supplierRequest}" method="POST">

				<!--  This will be used to bind to the task that was clicked on (USED FOR UPDATES)-->

				<input type="hidden" th:field="${supplierRequest.dateCreated}" />
				<input type="hidden" th:field="${supplierRequest.supplierId}" />
				

				
				<div class="form-group row">
					&nbsp;&nbsp;<input type="text" placeholder="Supplier Name" th:field="${supplierRequest.name}">
				</div>


				<div class="form-group row">
					&nbsp;&nbsp;<input type="text" placeholder="Contact Name" th:field="${supplierRequest.contactName}">
				</div>


				<div class="form-group row">
					&nbsp;&nbsp;<input type="text" placeholder="Phone number" th:field="${supplierRequest.Phone}">
				</div>


				<div class="form-group row">
					&nbsp;&nbsp;<input type="text" placeholder="Cell number" th:field="${supplierRequest.cellPhone}">
				</div>


				<div class="form-group row">
					&nbsp;&nbsp;<input type="text" placeholder="Email Address" th:field="${supplierRequest.emailAddress}">
				</div>
		
			Physical address :<br>
			&nbsp;&nbsp;<textarea style="width:750px; height: 50px;" th:field="${supplierRequest.physicalAddress}"  th:inline="text">[[${uploadFeatureDto.featurecode}]]</textarea><br>



			Postal Address :<br>
			&nbsp;&nbsp;<textarea style="width:750px; height: 50px;" th:field="${supplierRequest.postalAddress}"  th:inline="text">[[${uploadFeatureDto.featurecode}]]</textarea><br>



				

				<div class="form-group row">
					<button class="btn btn-info col-2" type="submit">Save Supplier</button>
				</div>

			</form>
		</div>
	</div>

</body>

</html>