<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Business Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarCustomer"></nav>
	<div sec:authorize="hasAnyRole('MANAGER','TEAMMEMBER','ADMIN')">



		<br>
		<div class="container">

			<H3>Edit Customer</H3>
			<br>
			<br>
			<form th:action="@{/prospectus-dashboard/customers/update}" th:object="${customerRequest}" method="POST">

				<!--  This will be used to bind to the task that was clicked on (USED FOR UPDATES)-->

				<input type="hidden" th:field="${customerRequest.dateCreated}" />
				<input type="hidden" th:field="${customerRequest.customerId}" />

				
				<b>Date created:</b>
				<div class="form-group row" th:text="${customerRequest.dateCreated}"></div>
				
				
				<b>Customer Id:</b>
				<div class="form-group row" th:text="${customerRequest.customerId}"></div>
				
				<div class="form-group row">
					<input type="text" placeholder="Customer Name"
						th:field="${customerRequest.name}">
				</div>



				<div class="form-group row">
					<input type="text" placeholder="Cell Phone"
						th:field="${customerRequest.cellPhone}">
				</div>
				
				
				<div class="form-group row">
					<input type="text" placeholder="Email Address"
						th:field="${customerRequest.emailAddress}">
				</div>
				
				
			Delivery address :<br>
			&nbsp;&nbsp;<textarea style="width:750px; height: 50px;" th:field="${customerRequest.deliveryAddress}"  th:inline="text">[[${customerRequest.deliveryAddress}]]</textarea><br>



			Invoice Address :<br>
			&nbsp;&nbsp;<textarea style="width:750px; height: 50px;" th:field="${customerRequest.invoiceAddress}"  th:inline="text">[[${customerRequest.invoiceAddress}]]</textarea><br>


			

				<div class="form-group row">
					<button class="btn btn-info col-2" type="submit">Save Customer</button>
				</div>

			</form>
		</div>
	</div>

</body>

</html>