<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<title>Business Dashboard</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/formatting.css}">

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<head th:fragment="headerTASK">
<title>Kanban Board</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/formatting.css}">

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <meta http-equiv="refresh" content="120;url=/prospectus-dashboard/antenna/board" />
</head>


<head th:fragment="headerSUBTASK">
<title>Antenna dashboard</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/formatting.css}">

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <meta http-equiv="refresh" content="120;url=/prospectus-dashboard/suppliers/list/board" />
</head>

<body>

	<nav th:fragment="navbarHOME"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/prospectus-dashboard/home">Business Dashboard</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/prospectus-dashboard/home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customer_contacts/list}">Customer Contacts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customers/list}">Customers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/industries/list}">Industries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/market_segment/list}">Market Segments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/employees}">Employees</a>
				</li>
			
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/configuration}">Configuration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>   <div sec:authorize="hasRole('ADMIN')">
				</li>
			</ul>
		</div>
	</nav>



	<nav th:fragment="navbarCustomerContacts"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Business Dashboard</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/prospectus-dashboard/home">Home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customer_contacts/list}">Customer Contacts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customers/list}">Customers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/industries/list}">Industries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/market_segment/list}">Market Segments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/employees}">Employees</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/configuration}">Configuration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	
	

	<nav th:fragment="navbarCustomer"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Business Dashboard</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/prospectus-dashboard/home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customer_contacts/list}">Customer Contacts</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customers/list}">Customers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/industries/list}">Industries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/market_segment/list}">Market Segments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/employees}">Employees</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/configuration}">Configuration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<nav th:fragment="navbarIndustries"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Business Dashboard</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/prospectus-dashboard/home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customer_contacts/list}">Customer Contacts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customer-orders/list}">Customer Orders</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customers/list}">Customers</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/prospectus-dashboard/industries/list}">Industries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/market_segment/list}">Market Segments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/employees}">Employees</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/configuration}">Configuration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<nav th:fragment="navbarMarketSegments"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Business Dashboard</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/prospectus-dashboard/home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customer_contacts/list}">Customer Contacts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customer-orders/list}">Customer Orders</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customers/list}">Customers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/industries/list}">Industries</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/prospectus-dashboard/market_segment/list}">Market Segments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/employees}">Employees</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/configuration}">Configuration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	

	<nav th:fragment="navbarEMP"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Business Dashboard</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/prospectus-dashboard/home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customer_contacts/list}">Customer Contacts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customer-orders/list}">Customer Orders</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customers/list}">Customers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/industries/list}">Industries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/market_segment/list}">Market Segments</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/prospectus-dashboard/employees}">Employees</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/configuration}">Configuration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	
	
	
	

	<nav th:fragment="navbarConfiguration"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Business Dashboard</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/prospectus-dashboard/home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customer_contacts/list}">Customer Contacts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/customers/list}">Customers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/industries/list}">Industries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/market_segment/list}">Market Segments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prospectus-dashboard/employees}">Employees</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/prospectus-dashboard/configuration}">Configuration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>

	
	<div th:fragment="piechartscript">
		<script type="text/javascript">
			var chartDataStr = decodeHtml(chartData);
			var chartJsonArray = JSON.parse(chartDataStr);
			var arrayLength = chartJsonArray.length;
			var numericData = [];
			var labelData = [];
			var numericData = [];
			var labelData = [];

			for (var i = 0; i < arrayLength; i++) {
				numericData[i] = chartJsonArray[i].value;
				labelData[i] = chartJsonArray[i].label;
			}

			//For a pie chart
			new Chart(document.getElementById("myPieChart"), {
				type : 'pie',

				// The data for our dataset
				data : {
					labels : labelData,
					datasets : [ {
						label : 'My First dataset',
						backgroundColor : [ '#33fa33', '#3e95cd', '#8e5ea2' ],
						//        borderColor: 'rgb(255, 11, 22)',
						data : numericData
					} ]
				},

				// Configuration options go here    
				options : {
					title : {
						display : true,
						text : 'Project Status'
					}
				}

			});

			function decodeHtml(html) {
				var txt = document.createElement("textarea");
				txt.innerHTML = html;
				return txt.value;
			}
		</script>

	</div>
</body>
</html>